*{
    padding: 0;
    margin: 0;
}

body{
    background-color: lightgray;
}

h1{
    font-size: 25px;
    color: olive;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    padding: 5px 10px;
}

.h1-contactanos{
    color: blue;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}